SECRET_KEY=

DEBUG=

#настройка docker

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=

CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=

NAME=
USER=
PASSWORD=
HOST=
PORT=
STRIPE_API_KEY=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
LOCATION=

API_TOKEN_TELEGRAM=
TG_NAME_CHANEL=


