SECRET_KEY=

DEBUG=

NAME=
USER=
PASSWORD=
HOST=
PORT=
STRIPE_API_KEY=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
LOCATION=

API_TOKEN_TELEGRAM=
TG_NAME_CHANEL=

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=